@import "tailwindcss";

@layer base {
  body {
    background-color: #F2E8CF;
    color: #386641;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}
